.infoSection {
  margin-bottom: 9rem;
  transition: all 0.3s;
}

.prepare {
  opacity: 0;
  transform: translateX(-100%);
}

.inView {
  opacity: 1;
  transform: translateX(0);
}

.infoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  width: 100%;
  transition: all 0.3s ease-out;
}
.image:hover {
  transform: scale(1.05);
}

.imageContainer {
  overflow: hidden;
}

.textBox {
  padding: 6.4rem 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addedText {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  text-align: center;
  font-weight: 600;
  color: #373b3e;
}

.smallTitle {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  text-align: center;

  font-weight: 600;
}

.orangeColor {
  color: #f76707;
}
.greenColor {
  color: #2b8a3e;
}
.blueColor {
  color: #1c7ed6;
}

.bigTitle {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.rowButton {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 500px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
}

.rowButton:hover {
  padding: 1.6rem 4rem;
}
.orangeBg {
  background-color: #f76707;
}
.greenBg {
  background-color: #2b8a3e;
}
.blueBg {
  background-color: #1c7ed6;
}

@media (max-width: 50em) {
  .infoGrid {
    grid-template-columns: 1fr;
  }
  .imageFirst {
    grid-row: 2;
  }
  .imageThird {
    grid-row: 6;
  }
}
