:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Inter";
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/*

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights (The font is Inter)

Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
-0.75px

--- 02 COLORS

- Primary: #212529
-Secondary:#e9ecef





- Accents:
- Greys

#888
#767676 
#6f6f6f 
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default:12px
Medium: 8px
Small:4px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #212529;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
  z-index: 10;
}

.container {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 120rem;
  transition: all 0.5s ease-out;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 7.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #267e36;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
  letter-spacing: 0.75px;
}

.margin-btm-small {
  margin-bottom: 2rem;
}
.margin-btm-medium {
  margin-bottom: 3.2rem;
}

@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 39em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 43.75%;
  }
}
