.itemContainer {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;
  width: 100%;
  border: 1px solid #b1b9c5;
  border-radius: 9px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.smallContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2.4rem;
}

.text {
  font-size: 1.6rem;
}

.propTitle {
  font-size: 1.4rem;
}

.propType {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.propPrice {
  font-size: 1.6rem;
  color: #c92a2a;
}

.propSales {
  font-size: 2rem;
  color: #2b8a3e;
}
