.cartItemContainer {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid rgba(177, 185, 197, 0.5);
  border-radius: 9px;
  position: relative;
}

.wishlistStar {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.wishlistStar:hover {
  transform: scale(1.1);
}
.wishListIcon {
  width: 3.2rem;
  height: 3.2rem;
  color: #c92a2a;
}

.image {
  width: 100%;
  margin-bottom: 1.2rem;
  transition: all 0.2s;
}

.cartItemTextBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.smallContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nameLabel,
.priceLabel {
  font-size: 1.8rem;
}

.name {
  font-size: 1.6rem;
}

.price {
  color: #c92a2a;
  font-size: 1.8rem;
}

.type {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.buttonContainer button {
  width: 100%;
  padding: 1.2rem;
  border: none;
  font-size: 1.8rem;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}

.btnAdd {
  background-color: #2b8a3e;
}
.btnAdd:hover {
  background-color: #55a165;
}
